cases_per_county.csv
county_daily_data.csv
county_vaccination.csv
covid_daily_data.csv
covid_data_processed.cs
covid_monthly_data.csv
Covid-19_cleaned_07-02-2022.csv
Covid-19_cleaned_07-02-2022.csv.
Covid-19_cleaned_07-02-2022.txt
Covid-19_cleaned_07-02-2022.xlsx
Admin2
kenya
kenyan-counties
plot_county_covid_cases.png
plot_county_death_cases.png
provice_level_cases.csv
